body {
	padding: 50px 25px;
}

table {
	border-collapse: collapse;
}

th, td {
	border: 1px solid #999;
	padding: 10px;
	text-align: center;
	min-width: 150px;
}

th, td:first-child {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 1.4em;
	letter-spacing: 1px;
	color: white;
	background-color: #2d345b;
	border: 1px solid #999;
}

#logo-cell {
	background-color: white;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1;
}

#logo-cell img {
	width: 100%;
}

#header-row th {
	position: sticky;
	top: 0;
}

td:first-child {
	position: sticky;
	left: 0;
}

span.title {
	display: block;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.2em;
	font-weight: 600;
}

span.speaker {
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
}
