body {
	padding: 50px 25px;
}

table {
	border-collapse: collapse;
}

th, td {
	border: 1px solid black;
	padding: 10px;
	text-align: center;
}

th, /*.label-col,*/ td:first-child {
	font-weight: bold;
	font-size: 1.4em;
	background-color: #dedede;
}

span.title {
	display: block;
	font-size: 1.2em;
	/*font-weight: bold;*/
}

span.speaker {
	font-style: italic;
}
